@import './nested.css';
@import '/global.css';

[scoped] .hello {
  color: red;
}

[scoped] img {
  width: 100px;
}

[scoped] .bg {
  width: 100px;
  height: 100px;
  background-image: url('./IMG_7101-sq.jpg');
  background-size: cover;
}

[scoped] .absolute-bg {
  background-image: url('/images/bg.png');
}
