<!doctype html>
<html>
  <head>
    <title>test</title>
    <link rel="stylesheet" href="/test.css" />
  </head>
  <body>
    <div class="import">
      <import src="s.html"></import>
    </div>
    <div class="nested-import">
      <import src="elements/wrapper.html"></import>
    </div>
    <div class="scoped-style">
      <import src="elements/part.html"></import>

      <span class="hello">Helllll-looooouu</span>
    </div>

    <div class="#{a">
      <p>#{a</p>
      <input type="text" disabled />
    </div>
    <if condition="false">
      <p>true</p>
    </if>
    <else>
      <p>false</p>
    </else>
    <repeat times="5" index="i">
      <p>r: #{i}</p>
    </repeat>
  </body>
</html>
